---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 춰Hola, mi nombre es Julian!</h1>
			<p>
				Soy un desarrollador junior con 27 a침os de experiencia de vida y un profundo deseo de fortalecer mis habilidades en el mundo del desarrollo. Originario de la vibrante y hermosa ciudad musical de Colombia, llevo en el coraz칩n el ritmo y la pasi칩n de mi tierra natal. Sin embargo, ahora resido en la din치mica capital, Bogot치, una ciudad que ofrece un sinf칤n de oportunidades y experiencias.

				Vivir en Bogot치 ha sido una aventura en s칤 misma. Aqu칤, disfruto perderme en sus vastos parques, donde cada rinc칩n invita a la inspiraci칩n. Los eventos musicales son una constante fuente de energ칤a, record치ndome siempre mis ra칤ces. Los teatros, con su magia en cada funci칩n, y el planetario, que me hace so침ar con las estrellas mientras mantengo mis pies en la tierra, son algunos de mis lugares favoritos. Adem치s, la ciudad est치 repleta de eventos interesantes y culturales que alimentan mi curiosidad y creatividad.

				Mi objetivo es seguir creciendo como developer, aprendiendo nuevas tecnolog칤as, y construyendo proyectos que no solo solucionen problemas, sino que tambi칠n inspiren a otros. Estoy emocionado por lo que el futuro me depara y listo para aprovechar cada oportunidad que se me presente. 춰Vamos por m치s!游
			
				</p>
		</main>
		<Footer />
	</body>
</html>